body{
    margin: 0px;

}
.header{
    height: 10vh;
    border-top: solid;
    background-color: rgb(124,187,186);
    padding-left: 10px;
    
}
.featured_box{
    display: flex;
    flex-direction: row;
  height: 80vh;
    width: auto;
  
  
}
.box_1{
    width: 13.5vw;
    background-color: rgb(255, 195, 83);
    padding-left: 10px;
    
}
.box_2{
    width: 53.5vw;
    background-color: rgb(254, 205, 83);
    padding-left: 10px;
    
}
.box_3{
    width: 33.5vw;
    background-color: rgb(249, 241, 129);
    padding-left: 10px;
    
}
.footer{
    height: 10vh;
    width: auto;
    background-color: rgb(100, 148, 156);
    padding-left: 10px;
    
    
}